<% unless @messages.empty? %>

  <%= render 'shared/message_navigation' %>

  <div class="column span-21 main">


    <ul class="styleless">
      <%= render :partial => 'shared/message', :collection => @messages %>
    </ul>


    <%= will_paginate @messages %>

  </div>
<% end %>