body {

}

header {
    padding-top: 20px;
}

header img {
    padding: 0.5em;
    background: #fff;
}

section {
    margin-top: 1em;
    font-size: 120%;
    padding: 20px;
    background: #fff;
    overflow: auto;
}

section h1 {
    font-size: 200%;    
}

div.field, div.actions {
    margin-bottom: 10px;
}

input.noborder {
    border: none;
}

input.button {
    display: block;
    text-align: center;
    width: 100px;
    color: #111;
    background: #eee;
    font-size: 104%;    
    border: 1px solid #ccc;
}

input.button:disabled {
    color: #888;
    border: 1px solid #ddd;
}

input.button:active {
    background: #ddd;
}

input.button:hover {
    border: 1px solid #bbb;
}


input.button:disabled:hover {
    border: 1px solid #ddd;
}

input.likeButton {
    color:#0088ee;
    padding:0px;
    font-family:Calibri, Arial, Helvetica, sans-serif;
    background:none;
    border: none;
    display:block;
    font-size:1.18em;
    text-align: right;
    width: 100%;
}

input.likeButton:hover {
    text-decoration: underline;
}



ul.styleless {
    list-style:none;
}

.wrap {
    word-spacing: normal;
    word-wrap: break-word;
}

/* Links */

a {
    color: #0088ee;
    text-decoration: none;
}

a:hover {
    color: #0088ee;
}

a:visited {
    color: #0088ee;
}

a.signup_button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    width: 190px;
    color: #fff;
    background: #0088ee;
    font-size: 150%;
    font-weight: bold;
    padding: 20px;
}

nav {
    float: right;
    font-size: 130%;
    margin-top: 30px;
}

nav {
    background-color: white;
    padding: 0 0.7em;
    white-space: nowrap;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0.2em 0;
}

nav ul li a {
    padding: 0 10px;
    font-weight: bold;
}

nav ul li a.current_path {
    border-bottom: 3px solid #0088ee; 
}

nav ul li a:visited {
    color: #0088ee;
}

nav ul li a:hover {
   border-bottom: 3px solid #0088ee; 
}

/* borders */

.border_bottom{
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #ddd;    
}

.border_top{
    border-top-style: solid;
    border-width: 1px;
    border-color: #ddd;    
}

/* Round corners */

.round {
    -moz-border-radius:    4px;
    -webkit-border-radius: 4px;
    border-radius:         4px;
    border-style: solid;
    border-width: 2px;
    border-color: #ddd;

}

.green_border {
    border-color: #00bb22;
}

/* footer */

footer {
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

footer nav {
    float: none;
}

/* User show page */

.main {
    padding: 1em;
}

.sidebar {
    padding: 1em;
    vertical-align: top;
    background: #ddffcc;    
}

.sidebar_users{
    margin: 0px 12px;
}

.main img.gravatar {
    border: 1px solid #999;  
    vertical-align:middle;
}

/* error styling */

.field_with_errors {
    margin-top: 10px;
    padding: 2px;
    background-color: red;
    display: table;
}

.field_with_errors label {
    color: #fff;
}

#error_explanation {
    width: 400px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff;
}

#error_explanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
}

#error_explanation ul li {
    font-size: 12px;
    list-style: square;
}

/* User list styling*/

ul.users {
    margin-top: 1em;
}

.users li {
    list-style: none;
    line-height: 65px;    
    padding-left: 0.75em;
    height: 65px;
    border-bottom: dotted 1px #ccc; 
}

.users li:last-child {
    list-style: none;
    line-height: 65px;
    height: 65px;    
}

.users img.gravatar {
    vertical-align: middle;
}

/*microposts styling */

h1.micropost {
    margin-bottom: 0.3em;
}

div.user_info img {
    padding-right: 0.1em;
}

div.user_info a {
    text-decoration: none;
}

div.user_info span.user_name {
    position: absolute;
}

div.user_info span.microposts {
    font-size: 80%;
}

form.new_micropost {
    margin-bottom: 1em;
}

form.new_micropost textarea {
    height: 1.6em;
    width: 595px;
    margin-bottom: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 109%;
}

form.new_micropost textarea::-webkit-input-placeholder {
    color:    #999;
}

form.new_micropost textarea:-moz-placeholder {
    color:    #999;
}


#micropostLengthCount {
    color: #333;
    width:200px;
    background: transparent;
}

li.feed_line:first-child {
    padding-top: 10px;
}

li.feed_line:last-child {
    padding-bottom: 20px;
}

li.feed_line {
    clear:both; 
    margin-top: 20px; 
    overflow:auto; 
    border-bottom: dotted 1px #ccc; 
    padding-bottom: 20px;
}

li.feed_line a.photo_link {
    float: left;
    padding: 10px 10px 5px 10px;
    background: #fff;
    border: 2px solid #aaa;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

li.feed_line a.photo_link:hover {
    -moz-box-shadow: 0px 2px 5px #333;
    -webkit-box-shadow: 0px 2px 5px #333;
    box-shadow: 0px 2px 5px #333;
}

.feed_photo {
    margin: 2px 10px 0px 10px;
}

.feed_item_create_date {
    margin-top: 15px;
    font-size: 70%;
}

/* Mail navigation */

ul.mail_navigation {
    font-size: 150%;
}


ul.mail_navigation {
    background-color: white;

    white-space: nowrap;
}

ul.mail_navigation {
    margin: 0;
    padding: 0;
}

ul.mail_navigation li {
    list-style-type: none;
    display: inline-block;
    padding: 0.2em 0.7em;
}

ul.mail_navigation li.current_path {
    border-bottom: 3px solid #0088ee; 
}

ul.mail_navigation li a {
    padding: 0 5px;
    font-weight: bold;
}

ul.mail_navigation li a.current_path {
    border-bottom: 3px solid #0088ee; 
}


ul.mail_navigation li a:visited {
    color: #0088ee;
}

ul.mail_navigation li a:hover {  
    border-bottom: 3px solid #0088ee; 
}

/* disable alternating colours in tables from Blueprint css */

table tr:nth-child(even) td {
    background: transparent;
}

textarea {
    height: 1.6em;
    width: 100%;
    margin-bottom: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 109%;
}

/* for rotated image on home page */

.imgteaser {
    margin-top: 20px;    
    float: left;
    position: relative;

}

.imgteaser a {
    text-decoration: none;
    float: left;
}

.imgteaser a:hover {
    cursor: pointer;
}

.imgteaser a img {
    float: left;
    margin: 0;
    border: none;
    padding: 10px;
    background: #fff;
}

.imgteaser a:hover .desc{
    display: block;
    font-size: .8em;
    padding: 10px 0;
    background: #111;
    filter:alpha(opacity=75);
    opacity:.75;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; /*--IE 8 Transparency--*/
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 10px;
    margin: 0;
    width: 180px;
    border-top: 1px solid #999;
}

.imgteaser a:hover .desc strong {
    display: block;
    margin-bottom: 5px;
    font-size: 1em;
}

.imgteaser a .desc {	display: none; }
.imgteaser a:hover .more { visibility: hidden;}

.imgteaser .notch {
    position: absolute;
    bottom: -10px;
    left: 20px;
    margin: 0;
    border-top: 11px solid #fff;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 0;
    padding: 0;
    width: 0;
    height: 0;
    /* ie6 height fix */
    font-size: 0;
    line-height: 0;
    /* ie6 transparent fix */
    _border-right-color: pink;
    _border-left-color: pink;
    _filter: chroma(color=pink);

}

.border-callout { 
    border: 2px solid #0088ee; 
}
.border-callout .border-notch { 
    border-top-color: #0088ee; bottom: -13px; 
}

.post_form {
    position: relative;  
    width: 100%;  
    height: 100%;      
    text-align: center;    
    color: black;
    border: 2px solid #ff4477;  
    -webkit-border-radius: 5px;  
    -moz-border-radius: 5px;  
    border-radius: 5px;   
    background: #ffeeee;
}

.post_form:before

{  
    content: ' ';  
    position: absolute;  
    width: 0;  
    height: 0;  
    left: 10px;  
    top: -29px;  
    border: 14px solid;  
    border-color: transparent transparent #ff4477 transparent;  
}  

.post_form:after 
{  
    content: ' ';  
    position: absolute;  
    width: 0;  
    height: 0;  
    left: 10px;  
    top: -26px;  
    border: 14px solid;  
    border-color: transparent transparent #ffeeee transparent;  
}

.display_none {
    display: none;
}

.user_description {
    font-style: italic;
    font-size: 0.5em;    
    margin-left: 1em;
    overflow: hidden;
    height: 30px;
    width: 30px;
}