<li>

  <div class="span-2 last">
    <%= gravatar_for user, :size => 40 %>
  </div>
  <div class="wrap span-12">
    <strong><%= link_to user.name, user %></strong>
    <% if signed_in? && current_user.admin? %>
    <div class="right">
      <%= link_to "delete", user, :method => :delete, :confirm => "Are you sure?",
        :title => "Delete #{user.name}" %>
    </div>
    <% end %>
  </div>
</li>