<div class="column span-16 main">
  <h1>Sign Up</h1>

  <%= form_for(@user) do |f| %>

    <%= render 'basic_user_fields', :f => f %>

    <div class="actions">
      <%= f.submit "Sign up", :class => "button round" %>
    </div>
  <% end %>
</div>