<% unless @feed_items.empty? %>
  <h3>News Feed</h3>
  <ul class="styleless">
    <%= render :partial => 'shared/feed_item', :collection => @feed_items %>
  </ul>
  <br/>
  <%= will_paginate @feed_items %>
<% end %>