<li class="message">

  <div class="wrap span-15m">
    <div>
      <%=  message.recipients.map(&:name).to_sentence %>
    </div>
    <div>
      <h4>
        <%= link_to h(message.subject), sent_message_path(message) %>
      </h4>
    </div>
    <div class="feed_item_create_date">
      <%= distance_of_time_in_words(message.created_at, Time.now) %> ago
    </div>
  </div>


</li>