<div class="column span-16 round main">
  <h1>What's up?</h1>
      <%= render 'shared/micropost_form' %>
      <%= render 'shared/feed' %>
</div>
<div class="column span-5 last round sidebar">
  <%= render 'shared/user_info' %>
      <%= render 'shared/stats' %>
</div>
