<div class="column span-21 main">
  <h1>About Babble</h1>
  <p>Babble Social Platform is a simple skeletal social platform upone which developers
    can go on and build their own site/platform. It is also hosted so that everyone
    can try out a social media site that has no branding, no advertisements, and no
    controversy.
  </p>
  <p>Your private information is not kept or inspected or shared. That is because babble
    does not keep any of your personal information at all.</p>
  <p>If you want to contribute, please feel free to <%= link_to "contact me", contact_path %>.</p>
</div>
