<%= form_for current_user.likes.build(:liked_id => micropost.id), 
  :remote => true do |f|%>
  <div><%= f.hidden_field :liked_id %></div>
  <div class="actions left">
    <%= f.submit "#{likes_text_for(micropost)}", 
      :class => "likeButton", :title => "Like this post"%>
  </div>
<% end %>